.agent/
__pycache__/
*.pyc
.DS_Store

# Large model files
*.h5
*.data-*
*.index
fer_saved_model/
modules/module2_Speech_to_text/models/

# ROS 2 and logs
build/
install/
log/
logs/
data/logs/

# Python Virtual Environment
venv/
.venv/
env/
modules/module3_dialog_manager/groq_key.txt
push_one_by_one.sh
